<form [formGroup]="tripCreateForm" (ngSubmit)="submit()">
  <ion-item>
    <ion-label  position="stacked">Name:</ion-label>
    <ion-input type="text" formControlName="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label  position="stacked">Budget:</ion-label>
    <ion-input type="number" formControlName="budget"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label  position="stacked">Currency:</ion-label>
    <ion-input formControlName="currency"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Start date: </ion-label>
    <ion-datetime-button datetime="startDatetime"></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="startDatetime" (ionChange)="getStartDate($event)" formControlName="startDate" [value]="defaultDate"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">End date: </ion-label>
    <ion-datetime-button datetime="endDatetime"></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="endDatetime" (ionChange)="getEndDate($event)" formControlName="endDate" [value]="defaultDate"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>
  <ion-button  type="submit" [disabled]="!tripCreateForm.valid">
    Create
  </ion-button>
</form>