<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="overview">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Overview</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="trips">
      <ion-icon name="boat-outline"></ion-icon>
      <ion-label>Trips</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pastTrips">
      <ion-icon name="checkmark-done-circle-outline"></ion-icon>
      <ion-label>Past trips</ion-label>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>
