<form [formGroup]="costForm" (ngSubmit)="submit()">
  <ion-item color="tretiary">
    <ion-label>Type:</ion-label>
    <ion-select placeholder="Select type" formControlName="type">
      <ion-select-option *ngFor="let type of costTypes" [value]="type">{{
        type.name
      }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item color="tretiary">
    <ion-label>Amount:</ion-label>
    <ion-input type="number" formControlName="amount"></ion-input>
  </ion-item>
  <ng-container
    *ngIf="{
      trip: trip$ | async,
      currencies: currencies$ | async
    } as view"
  >
    <ion-item color="tretiary">
      <ion-label>Main currency:</ion-label>
      <ion-select
        placeholder="Select currency"
        (ionBlur)="fetchExchangeRate($event, view.trip?.currency)"
        formControlName="currency"
      >
        <ion-select-option
          *ngFor="let currency of view.currencies"
          [value]="currency"
          >{{ currency.code }}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-item color="tretiary" disabled="true">
      <ion-label>Exchange rate: </ion-label>
      <ion-label>{{ this.exchangeRate }}</ion-label>
    </ion-item>
  </ng-container>

  <ion-item color="tretiary">
    <ion-label>Date: </ion-label>
    <ion-datetime-button datetime="date"></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          color="primary"
          id="date"
          (ionChange)="getDate($event)"
          formControlName="date"
          [value]="defaultDate"
        ></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>
  <div class="d-flex ion-justify-content-center">
    <ion-button
      type="submit"
      [disabled]="!costForm.valid || exchangeRateLoading"
    >
      Create
    </ion-button>
  </div>
</form>
