// :root {
// 	--ion-color-primary: #4f7a28;
// 	--ion-color-primary-rgb: 79,122,40;
// 	--ion-color-primary-contrast: #ffffff;
// 	--ion-color-primary-contrast-rgb: 255,255,255;
// 	--ion-color-primary-shade: #466b23;
// 	--ion-color-primary-tint: #61873e;

// 	--ion-color-secondary: #ffc677;
// 	--ion-color-secondary-rgb: 255,198,119;
// 	--ion-color-secondary-contrast: #000000;
// 	--ion-color-secondary-contrast-rgb: 0,0,0;
// 	--ion-color-secondary-shade: #e0ae69;
// 	--ion-color-secondary-tint: #ffcc85;

// 	--ion-color-tertiary: #00a3d7;
// 	--ion-color-tertiary-rgb: 0,163,215;
// 	--ion-color-tertiary-contrast: #ffffff;
// 	--ion-color-tertiary-contrast-rgb: 255,255,255;
// 	--ion-color-tertiary-shade: #008fbd;
// 	--ion-color-tertiary-tint: #1aacdb;

// 	--ion-color-success: #669c35;
// 	--ion-color-success-rgb: 102,156,53;
// 	--ion-color-success-contrast: #000000;
// 	--ion-color-success-contrast-rgb: 0,0,0;
// 	--ion-color-success-shade: #5a892f;
// 	--ion-color-success-tint: #75a649;

// 	--ion-color-warning: #ffc409;
// 	--ion-color-warning-rgb: 255,196,9;
// 	--ion-color-warning-contrast: #000000;
// 	--ion-color-warning-contrast-rgb: 0,0,0;
// 	--ion-color-warning-shade: #e0ac08;
// 	--ion-color-warning-tint: #ffca22;

// 	--ion-color-danger: #eb445a;
// 	--ion-color-danger-rgb: 235,68,90;
// 	--ion-color-danger-contrast: #ffffff;
// 	--ion-color-danger-contrast-rgb: 255,255,255;
// 	--ion-color-danger-shade: #cf3c4f;
// 	--ion-color-danger-tint: #ed576b;

// 	--ion-color-medium: #92949c;
// 	--ion-color-medium-rgb: 146,148,156;
// 	--ion-color-medium-contrast: #000000;
// 	--ion-color-medium-contrast-rgb: 0,0,0;
// 	--ion-color-medium-shade: #808289;
// 	--ion-color-medium-tint: #9d9fa6;

// 	--ion-color-light: #f4f5f8;
// 	--ion-color-light-rgb: 244,245,248;
// 	--ion-color-light-contrast: #000000;
// 	--ion-color-light-contrast-rgb: 0,0,0;
// 	--ion-color-light-shade: #d7d8da;
// 	--ion-color-light-tint: #f5f6f9;

// }

:root {
  --ion-color-primary: #c05746;
  --ion-color-primary-rgb: 192, 87, 70;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #a94d3e;
  --ion-color-primary-tint: #c66859;

  --ion-color-secondary: #adc698;
  --ion-color-secondary-rgb: 173, 198, 152;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #98ae86;
  --ion-color-secondary-tint: #b5cca2;

  //   --ion-color-background: #deebd5;
  //   --ion-color-background-rgb: 208, 227, 196;
  //   --ion-color-background-contrast: #000000;
  //   --ion-color-background-contrast-rgb: 0, 0, 0;
  //   --ion-color-background-shade: #b7c8ac;
  //   --ion-color-background-tint: #d5e6ca;

  --ion-color-tretiary: #503047;
  --ion-color-tretiary-rgb: 80, 48, 71;
  --ion-color-tretiary-contrast: #ffffff;
  --ion-color-tretiary-contrast-rgb: 255, 255, 255;
  --ion-color-tretiary-shade: #462a3e;
  --ion-color-tretiary-tint: #624559;

  //   --ion-background-color: #deebd5;
  //   --ion-background-color-rgb: 222, 235, 213;

  --ion-text-color: #503047;
  --ion-text-color-rgb: 80, 48, 71;

  --ion-color-step-50: #d7e2ce;
  --ion-color-step-100: #d0d8c7;
  --ion-color-step-150: #c9cfc0;
  --ion-color-step-200: #c2c6b9;
  --ion-color-step-250: #bbbcb2;
  --ion-color-step-300: #b3b3aa;
  --ion-color-step-350: #acaaa3;
  --ion-color-step-400: #a5a09c;
  --ion-color-step-450: #9e9795;
  --ion-color-step-500: #978e8e;
  --ion-color-step-550: #908487;
  --ion-color-step-600: #897b80;
  --ion-color-step-650: #827179;
  --ion-color-step-700: #7b6872;
  --ion-color-step-750: #745f6b;
  --ion-color-step-800: #6c5563;
  --ion-color-step-850: #654c5c;
  --ion-color-step-900: #5e4355;
  --ion-color-step-950: #57394e;
}

.ion-color-primary {
  --ion-color-base: var(--ion-color-primary);
  --ion-color-base-rgb: var(--ion-color-primary-rgb);
  --ion-color-contrast: var(--ion-color-primary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-shade);
  --ion-color-tint: var(--ion-color-primary-tint);
}

.ion-color-secondary {
  --ion-color-base: var(--ion-color-secondary);
  --ion-color-base-rgb: var(--ion-color-secondary-rgb);
  --ion-color-contrast: var(--ion-color-secondary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-secondary-contrast-rgb);
  --ion-color-shade: var(--ion-color-secondary-shade);
  --ion-color-tint: var(--ion-color-secondary-tint);
}

.ion-color-tretiary {
  --ion-color-base: var(--ion-color-tretiary);
  --ion-color-base-rgb: var(--ion-color-tretiary-rgb);
  --ion-color-contrast: var(--ion-color-tretiary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tretiary-contrast-rgb);
  --ion-color-shade: var(--ion-color-tretiary-shade);
  --ion-color-tint: var(--ion-color-tretiary-tint);
}

.ion-color-background {
  --ion-color-base: var(--ion-color-background);
  --ion-color-base-rgb: var(--ion-color-background-rgb);
  --ion-color-contrast: var(--ion-color-background-contrast);
  --ion-color-contrast-rgb: var(--ion-color-background-contrast-rgb);
  --ion-color-shade: var(--ion-color-background-shade);
  --ion-color-tint: var(--ion-color-background-tint);
}
