<ion-grid>
  <ion-row class="d-flex ion-justify-content-center">
    <h1>Add cost:</h1>
  </ion-row>
  <ion-row>
    <ion-col
      *ngFor="let cost of costTypes"
      size-xs="4"
      size-md="3"
      class="d-flex ion-justify-content-center"
    >
      <ion-button
        (click)="onButtonClick(cost.type)"
        class="button-content"
        [ngClass]="getColor(cost.costTypeId)"
      >
        <ion-icon [name]="cost.icon"></ion-icon>
      </ion-button>
      <span>{{ cost.name }}</span>
    </ion-col>
  </ion-row>
</ion-grid>
