ion-card-header {
    padding-bottom: 0;
}

ion-card-content {
    padding-top: 0 !important;
    display: flex;
    app-budget-overview {
        width: 100%;
        padding: 0 16px 16px 16px;
    }
}