ion-card-header {
  padding-top: 55px;
  padding-bottom: 0;
}

ion-card-content {
  .trip-name {
    font-size: 18px;
    font-weight: 700;
    color: var(--ion-text-color);
  }
  padding-top: 0 !important;
  display: flex;
}
ion-card {
  margin: 0;
  border-bottom-left-radius: 50px;
  background-color: #deebd5;
}

app-budget-overview {
  width: 100%;
  padding: 0 16px;
}
